 *{
    margin: 0;
    padding: 0;
 }

 body{
   background-color: #023047;
   text-align: center;
 }
 h1{
   color: #ffff;
   font-weight: 700;

 }
 .container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5vmin;
 }
 .box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #a5cee0;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    color: #000000;
    font-size: 8vmin;
 }
 #reset{
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #219EBC;
   color: #000000;
   border-radius: 1rem;
   border: none;
 }

 #new{
   padding: 1rem;
   font-size: 1.25rem;
   background-color: #219EBC;
   color: #000000;
   border-radius: 1rem;
   border: none;
 }
 #msg{
   color: #ffff;
   font-size: 5vmin;
 }
 .msg-container{
   height: 110vmin;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 4rem;
 }

 .hide{
   display: none;
 }
 